{% extends "layout.html" %}

{% block body %}
<br><br><br>

<div class="jumbotron bg-light text-center">
    <h3 class="mb-4">BuldukStore</h3>

    {% if user.is_authenticated %}
        <!-- Kullanıcı oturum açıkken -->
        <p>Kullanıcı zaten oturum açmış durumda. Diğer sayfalara yönlendirilebilir.</p>
        <script>window.location.href = "{% url 'dashboard' %}";</script>
    {% else %}
        <!-- Kullanıcı oturum açık değilken -->
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                        {{ form.username }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        {{ form.password }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-danger">Giriş Yap</button>
                </div>
            </div>
        </form>
    {% endif %}
</div>

<!-- index.html -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock body %}
